@(workerList: List[Worker])

@main("Worker"){
    <div class="row">
        <div class="col-xs-12">
            <h1>Mitarbeiter löschen</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <tbody>
            @for(worker <- workerList){
                <tr>
                    <td>@worker.getPrename()</td>
                    <td>@worker.getLastname()</td>
                    <td>
                        <a href="@routes.WorkersController.delete(worker.getId())" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    </td>


                </tr>

            }
            </tbody>
        </div>
    </div>

}