@(ottenList: List[Otte])

@main("Otten"){
    <h1>Otten</h1>
    @if(ottenList.size() > 0) {
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Vorname</td>
                        </tr>
                    </thead>
                    <tbody>
                    @for(otte <- ottenList){
                        <tr>
                            <td>@otte.getName()</td>
                            <td>@otte.getRasse()</td>
                            <td>
                                <img src="@routes.Assets.versioned(otte.getImagepath())" class="img-responsive" />
                            </td>
                            <td>
                                <a href="@routes.OttenController.delete(otte.getId())" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    } else {
        <div class="otten-item">
            Kein Otte vorhanden
        </div>
    }
    <div class="row add-item">
        <div class="col-xs-2">
            <a href="@routes.FormController.addOtte()" class="btn btn-success"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <tbody>
            @for(otte <- ottenList){
                <tr>
                    <td>@otte.getName()</td>
                    <td>@otte.getRasse()</td>
                    <td>@otte.getImage()</td>
                    <td>
                        <a href="@routes.OttenController.delete(otte.getId())" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </div>
    </div>

}