@(project: Project)
@main(project.getName) {
    <div class="row back">
        <div class="col-xs-12">
            <a href="@routes.ProjectsController.index()"><i class="fa fa-caret-left" aria-hidden="true"></i> Zurück </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>@project.getName()</h1>
                <thead>
                    <tr>
                        <td>Name</td>
                    </tr>
                </thead>
            <div class="row add-item">
                <div class="col-xs-2">
                    <a href="@routes.FormController.addProjectTask()" class="btn btn-success"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
}