@(project: Project, tasks: List[Task])
@main(project.getName) {
    <div class="row back">
        <div class="col-xs-12">
            <a href="@routes.ProjectsController.index()"><i class="fa fa-caret-left" aria-hidden="true"></i> Zurück </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>@project.getName()</h1>
            @if(tasks.size() > 0) {
                @for(task <- tasks) {
                    <tr>
                        <td>@task.getName()</td>
                    </tr>
                }
            } else {
                <h2>No tasks for this project yet</h2>
            }
            <div class="row add-item">
                <div class="col-xs-2">
                    <a href="@routes.FormController.addTask()" class="btn btn-success"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>
}