@(project: Project)
@main(project.getName) {
    <div class="row back">
        <div class="col-xs-12">
            <a href="@routes.ProjectsController.index()"><i class="fa fa-caret-left" aria-hidden="true"></i> Zurück </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1>@project.getName()</h1>
            @if(project.getTasks.size() > 0) {
                <thead>
                    <tr>
                        <td>Name</td>
                    </tr>
                </thead>
                @for(projectTask <- project.getTasks()){
                    <tbody>
                        <tr>
                            <td>@projectTask.getTask.getName()</td>
                            <td>
                                <a href="@routes.ProjectTaskController.delete(projectTask.getId())" class="btn btn-danger"><i class="fa fa-minus" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                }
            } else {
                <h2>No tasks for this project yet</h2>
            }
            <div class="row add-item">
                <div class="col-xs-2">
                    <a href="@routes.FormController.addProjectTask()" class="btn btn-success"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
}