@(projectForm: play.data.Form[Project], id: Long)

@main("Project"){
    <div class="row">
        <div class="col-xs-12">
            <h1>Projects</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
        @helper.form(action = routes.ProjectsController.update(id), 'enctype -> "multipart/form-data"){
            @helper.inputText(projectForm("Name"), 'id -> "name", '_label -> "Name", 'class -> "form-control")
            @helper.inputText(projectForm("Customer"), '_label -> "Customer", 'class -> "form-control")
            @helper.inputFile(projectForm("Duration"), '_label -> "Duration", 'class -> "form-control")
            <button type="submit" class="btn btn-success" value="Anlegen" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Add </button>
        }
        </div>
    </div>

}